<nav class="navbar">
  <ul class="navbar__menu">
    <li class="navbar__item">
      <a href="#">
        <span>Home</span>
      </a>
    </li>
    <li class="navbar__item">
      <a href="#">
        <span>Home</span>
      </a>
    </li>
    <li class="navbar__item">
      <a href="#">
        <span>Home</span>
      </a>
    </li>
  </ul>
</nav>