.btn {
  border: 0;
  padding: 0.7rem 1.3rem;
  border-radius: 5px;
}

.btn-small {
  padding: 0.4rem 1.9rem;
}

.btn-primary {
  background: $primary;
  color: $white;
  cursor: pointer;

  &:active {
    background: darken($color: $primary, $amount: 5);
  }
}

.form-button {
  height: 4rem;
  font-size: 1.7rem;
}
